<nav>
    <button [ngClass]="bindingButStyle" (click)="navButton('dataBinding')">Data Binding</button> |
    <button [ngClass]="directiveButStyle" (click)="navButton('directives')">Directives</button> |
    <button [ngClass]="todoButStyle" (click)="navButton('todolist')">To-Do List</button> |
    <button [ngClass]="employeelistButStyle" (click)="navButton('employeelist')">Employee List</button>
</nav>
<hr>
<div [ngSwitch]="title">
    <div *ngSwitchCase="'dataBinding'">
        <app-practice-component1></app-practice-component1>
    </div>

    <div *ngSwitchCase="'directives'">
        <app-practice-component2></app-practice-component2>
    </div>

    <div *ngSwitchCase="'todolist'">
        <app-todolist></app-todolist>
    </div>
    <div *ngSwitchCase="'employeelist'">
        <app-employeelist></app-employeelist>
    </div>
</div>