<nav>
    <button [ngClass]="bindingButStyle" (click)="navButton('dataBinding')">Data Binding</button> |
    <button [ngClass]="directiveButStyle" (click)="navButton('directives')">Directives</button> |
    <button [ngClass]="todoButStyle" (click)="navButton('todolist')">To-Do List</button> |
    <button [ngClass]="employeelistButStyle" (click)="navButton('employeelist')">Pipe/Custom Pipe</button> |
    <button [ngClass]='productManageButStyle' (click)="navButton('productManage')">Dependency Injection</button> |
    <button [ngClass]='loadProductButStyle' (click)="navButton('loadProduct')">Service: HttpClient Request</button> |
    <button [ngClass]='blogButStyle' (click)="navButton('Blog')">Transfer Data: parent <=> chlid</button>
    <button [ngClass]='routeButStyle' (click)="navButton('router')">Route/Nav practice</button>

</nav>
<hr>
<div [ngSwitch]="title">
    <div *ngSwitchCase="'dataBinding'">
        <app-practice-component1></app-practice-component1>
    </div>

    <div *ngSwitchCase="'directives'">
        <app-practice-component2></app-practice-component2>
    </div>

    <div *ngSwitchCase="'todolist'">
        <app-todolist></app-todolist>
    </div>
    <div *ngSwitchCase="'employeelist'">
        <app-employeelist></app-employeelist>
    </div>
    <div *ngSwitchCase="'productManage'">
        <app-product-management></app-product-management>
    </div>
    <div *ngSwitchCase="'loadProduct'">
        <app-load-products></app-load-products>
    </div>
    <div *ngSwitchCase="'Blog'">
        <app-parent-blog></app-parent-blog>
    </div>
    <div *ngSwitchCase="'router'">
        <h1>XX商城</h1>
        <hr>
        <!-- 这行的位置指定了navigate的网站在哪display -->
        <router-outlet></router-outlet>
    </div>
</div>