<h1>Employee List (Custom Pipe Practice)</h1>
<hr>
<table>
    <!-- <th>Employee List</th> -->
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>zzmm</th>
    </tr>
    <tr *ngFor="let emp of empList">
        <td>{{emp.eid}}</td>
        <td>{{emp.ename | uppercase}}</td>
        <td>{{emp.salary | currency }}</td>
        <td>{{emp.birthday | date}}</td>
        <!-- use : means pass param to custom pipe -->
        <!-- <td>{{emp.gender | gender : 'zh'}}</td> -->
        <td>{{emp.gender | gender}}</td>
        <td>{{emp.zzmm}}</td>
    </tr>
</table>